@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

dialog {
  margin-top: 40vh;
  border: solid black;
  border-radius: 12px;
  padding: 10px;
}

.will-fade {
  transition: opacity 0.5s ease;
  /* Apply transition for opacity */
}

.will-fade.opacity-0 {
  opacity: 0;
  /* Set opacity to 0 for fade-out effect */
}

.outer-card {
  height: 80vh;
}

#search-stats-div {
  height: 100%;
}

.chart-container {
  width: 35vw;
}